<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TextUtils</title>
</head>
<body>
    <h1>Welcome to the Text Analyzer.</h1>
    <p>Enter your text below :</p>
    <form action= '/analyze' method='get'>
        <textarea name='text' style = 'margin: 0px; width:720px; height: 92px'></textarea>
        <br>

        <input type="checkbox" name='removepunc'>Remove Punctuations
        <br>

        <input type="checkbox" name='fullcaps'>UPPERCASE
        <br>
        
        <input type="checkbox" name='newlineremover'>New Line Remover
        <br>
        
        <input type="checkbox" name='extraspaceremover'>Extra Space Remover
        <br>
        
        <input type="checkbox" name='charcounter'>Character Counter
        <br>
        
        <button type='submit'>Analyze Text</button>
    </form>
</body>
</html>